body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a4b0be;

    padding-top: 3rem;
    padding-bottom: 2rem;
}

.footer__social-links {
    display: flex;
}

.footer__social-item {
    padding: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 900px) / 2);
        padding-right: calc((100% - 900px) / 2);
    }
}